
/* Fonts */
@import url('fonts/fonts.css');

/* Styles */
html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
  font-size: 14px;
  font-family: 'Quicksand', sans-serif;
}
textarea,
input,
button {
  outline: none;
}
hr {
  border-top: 1px solid #ddd;
  margin: 30px 0;
  border-left: 0px;
  border-right: 0px;
  border-bottom: 0px;
}
#appWindow {
  width: 100%;
  margin-bottom: 50px;
}
#appBanner {
  text-align: center;
  background: rgba(0,119,204,1);
  padding: 16px 25px;
  margin: 0 0 30px 0;
}
#appBanner h1 {
  margin: 0;
  padding: 0;
  font-size: 1.4em;
  line-height: 1.4em;
  text-align: center;
  font-weight: lighter;
  color: #fff;
  width: 100%;
}
#appBanner h1 a {
  color: #fff;
  width: 100%;
  text-decoration: none;
}
#brandingLeft,
#brandingRight {
  width: 40%;
  display: inline-block;
}
#brandingLeft {
  float: left;
  text-align: left;
}
#brandingRight {
  float: right;
  text-align: right;
}
#appContainer,
#appNavigation,
#appNavigation,
#branding,
#appManPage,
#tabs,
.page {
  overflow: hidden;
  max-width: 1200px;
  margin: 0 auto;
}
#appManPage {
  margin-bottom: 25px;
  border: 1px solid #ddd;
}
.manPageContent {
  padding: 5px 25px 10px 25px;
}
.manPageContent h2 {
  margin: 20px 0 8px 0;
  font-size: 1.3em;
}
.manPageContent p {
  padding: 0;
  margin: 0 0 15px 0;
}
#appContainer {
  padding: 25px;
}
.ui-tabs-nav {
  list-style-type: none;
  margin: 0 0 25px 0;
  padding: 0 4px;
  border-bottom: 1px solid #ddd;
}
.ui-tabs-nav li {
  display: inline;
  outline: none !important;
}
.ui-tabs-nav li a {
  display: inline-block;
  padding: 7px 12px 10px 12px;
/*  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border: 1px solid #ddd;*/
  margin-bottom: -1px;
  color: #343434;
  text-decoration: none;
  outline: none !important;
}
.ui-tabs-nav li.ui-tabs-active a {
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #fff;
  border-top: 3px solid rgba(0,119,204,1);
  padding: 7px 11px 10px 11px;
  outline: none !important;
}
.ui-tabs-nav li a:hover {
  background: #efefef;
  border-top: 3px solid #efefef;
}
.ui-tabs-nav li.ui-tabs-active a:hover {
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #fff;
  border-top: 3px solid rgba(0,119,204,1);
  padding: 7px 11px 10px 11px;
  outline: none !important;
  background: #fff;
}
.ui-tabs-nav li .ui-tabs-active a:hover {
  background: none;
  border-top: 3px solid rgba(0,119,204,1);
  outline: none !important;
}
fieldset {
  border: none;
  padding: 0;
}
.appPanelPart {
  display: block;
  margin: 0 0 10px 0;
}
.screenReader {
  display: none;
}
label {
  padding: 5px 0;
}
input[type=text] {
  display: inline-block;
  margin: 0px;
  padding: 7px 15px;
  border: 1px solid #ddd;
  font-size: 0.9em;
  box-shadow: none;
  width: calc(100% - 30px);
  height: 28px;
}
textarea {
  width: 100%; // calc(100% - 30px);
  height: 160px;
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 0px;
  font-family: monospace;
  font-size: 0.9em;
}
select {
  height: 30px;
  border: 1px solid #ddd;
  background: #fff;
}
noscript p,
.warning p {
  display: block;
  padding: 10px 20px;
  border: 1px solid rgba(204,0,0,1);
  border-radius: 4px;
  color: rgba(204,0,0,1);
  background: rgba(204,0,0,0.1);
  font-size: 0.9em;
  font-weight: bold;
  overflow: hidden;
  max-width: 808px;
  margin: 25px auto;
}
.optionsArray {
  border-top: 1px solid #efefef;
}
.optionSelectList {
    width: 100%;
    border-radius: none;
    border: none;
    font-size: 0.9em;
    height: 28px;
}
.buttonArray {
  text-align: center;
}
button {
  display: block;
  margin: 5px auto;
  padding: 7px 14px;
  border: 1px solid rgba(0,119,204,1);
  border-radius: 6px;
  color: #fff;
  background: rgba(0,119,204,1);
  font-size: 0.9em;
  box-shadow: none;
  width: 100%;
}
a.link-button {
  display: inline-block;
  margin: 5px auto;
  padding: 7px 14px;
  border: 1px solid rgba(0,119,204,1);
  border-radius: 6px;
  color: #fff;
  background: rgba(0,119,204,1);
  font-size: 0.9em;
  box-shadow: none;
  text-decoration: none;
}
a.link-button:hover {
  background: rgb(0, 176, 204);
  border: 1px solid rgb(0, 176, 204);
  color: #fff;
}
button.headerButton {
  border: 1px solid rgb(152, 152, 152);
  color: #fff;
  background: rgb(152, 152, 152);
  margin: 7px 0;
}
button.headerButton:hover {
  background: rgba(152, 152, 152, 0.7);
}
.inputContainer {
  display: inline-block;
  padding: 6px 0px;
  font-size: 0.9em;
  box-shadow: none;
  height: 16px;
  cursor: pointer;
}
.appOption {
  border-bottom: 1px solid #efefef;
  padding: 6px 0;
}
button:hover {
  background: rgb(0, 176, 204);
  border: 1px solid rgb(0, 176, 204);
  color: #fff;
}
footer#colophon {
  text-align: right;
  color: #b3b3b3;
  background: #333;
  position: fixed;
  bottom: 0;
  width: 100%;
}
footer#colophon a {
  color: inherit;
  text-decoration: none;
}
footer#colophon a:hover {
  color: #efefef;
}
footer#colophon p {
  font-size: 0.9em;
  margin: 0;
}
#footerContainer  {
  display: block;
  padding: 15px;
}
.appPanel {
  display: none;
}
.appPanelFocused {
  display: block;
}
.help {
  margin: 0px 0 30px 0;
  border-left: 5px solid #777;
  background: #efefef;
  padding: 10px;
  font-size: 0.9em;
}
.help p {
  color: #333;
}
.appPanelPart p {
  margin: 0;
  padding: 0;
}
.unfocused {
  display: none;
}
.beta {
  font-size: 0.7em;
  font-weight: bold;
  font-style: italic;
}
/* Sliders */

.switch {
  position: relative;
  display: inline-block;
  width: 55px;
  height: 18px;
  margin: 0 0 -10px 0;
  float: right;
}

.switch input {display:none;}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: rgba(0,119,204,1);
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 20px;
}

.slider.round:before {
  border-radius: 50%;
}

.inputContainerSelected {
  background: rgba(0,119,204,1);
  border: 1px solid rgba(0,119,204,1);
  color: white;
}

/* Columns */

.colRow {
  margin: 0 -10px;
  overflow-x: hidden;
}
.appPanelCol2 {
  margin: 0 10px;
  display: inline-block;
  width: calc( 50% - 20px );
  float: left;
}
.appPanelCol4 {
  margin: 0 10px;
  display: inline-block;
  width: calc( 25% - 20px );
  float: left;
}
#diffOutput1,
#diffOutput2,
#diffOutput3,
#diffOutput4 {
  height: 300px;
}
.leftPanel, .rightPanel {
  display: inline-block;
}
.leftPanel {
  float: left;
  width: 60%;
}
.rightPanel {
  float: right;
  width: 35%;
}
span.footerItem {
  padding: 0 10px;

}
.appPanelCol2 {

}
#tabs {
  padding: 0 20px;
}
@media screen and ( max-width: 750px ) {
  #appNavigation ul {
    border: none;
  }
  #appNavigation li a  {
    border: 1px solid #ddd;
    display: block;
    margin-bottom: 5px;
  }
  #appNavigation li a:hover {
    border: 1px solid #ddd;
    margin-bottom: 5px;
  }
  #appNavigation li a.selectedTab {
    border: 1px solid #ddd;
    border-left: 3px solid rgba(0,119,204,1);
  }
  #appNavigation li a.selectedTab:hover {
    border-top: 1px solid #ddd;
  }
  .inputContainer {
    display: block;
  }
  .leftPanel, .rightPanel {
    display: block;
    float: none;
    width: 100%;
  }
}
div.numberedtextarea-wrapper { position: relative; }

div.numberedtextarea-wrapper textarea {
  display: block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

div.numberedtextarea-line-numbers {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 50px;
  border: 1px solid #ddd;
  background: #efefef;
  color: #343434;
  overflow: hidden;
  font-family: monospace;
  font-size: 0.9em;
  line-height: 1em;
  text-align: center;
}

div.numberedtextarea-number {
  padding-right: 6px;
  text-align: right;
}
